*
!*/
bin/
lib/
backup/
!*.pas
!*.pp
!*.inc
!*.lpk
!*.lpr
!*.lps
!*.lpi
!*.lrs
!*.lfm
!*.glsl
!*.frag
!*.vert
!*.py
!*.p3d
!*.p3dmesh
!*.p3dbin
!*.txt
!*.html
!*.css
!*.pmd
!*.jpg
!*.png
!*.tga
!*.bmp
!*.ttf
!*.xml
!*.blend
!*.js
!*.sh
!*.svg
!*.gz
!*.ico
!*.woff
!*.woff2
!*.xml
!.gitignore

